body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover ;
  background-color: rgb(231, 225, 189);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 1%;
  text-align: center; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kegControl {
  text-align: center;
}

::placeholder {
  text-align: center;
  color:rgb(116, 44, 44);
}

img {
  width: stretch;
  height: 500px;
  margin: 5px 5px 0 5px;
  border: #0f0f12 outset 2px;
  border-radius: 15px;
}

h1.title, span.afterHours, span.freeWifi, .outOfPints, .almostOut {
  color:  rgb(116, 44, 44);
}

button {
  background-color: rgb(243, 205, 202);
  color: rgb(116, 44, 44);
  padding: 1%
}

input {
  padding: 1%;
}